<section class="matr-pag-container" [formGroup]="form">
    <div class="matr-pag-title">Tu dirección</div>
    
    <div class="matr-pag-content">
        <div class="matr5-option-grid1">
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Comunidad de Exámen</div>
                <div class="matr-pag-label-text">(Selecciona una opción)</div>
            </div>
            
            <magister-select formControlName="comunidad"
            [placeholder]="'Ej: Madrid'" [options]="comunidades$ | async">
            </magister-select>
            <div class="error-message"
                *ngIf="formInfo?.isSubmitted
                && form?.controls?.comunidad.errors?.required">
                    Debes seleccionar una comunidad
            </div>
        </div>
        
        <div class="matr5-option-grid2">
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Dirección</div>
                
                <magister-input formControlName="direccion" 
                [placeholder]="'Ej: Calle Ramiro de Matxu, 10, 4D'">
                </magister-input>
                <div class="error-message"
                *ngIf="formInfo?.isSubmitted
                && form?.controls?.direccion.errors?.required">
                    El campo dirección es obligatorio
                </div>
            </div>
        </div>
        
        <div class="matr5-option-grid3">
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Localidad</div>
                
                <magister-input formControlName="dirLocalidad" 
                [placeholder]="'Ej: Madrid'">
                </magister-input>
                <div class="error-message"
                *ngIf="formInfo?.isSubmitted
                && form?.controls?.dirLocalidad.errors?.required">
                    El campo localidad es obligatorio
                </div>
            </div>
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Provincia</div>
                
                <magister-input formControlName="dirProvincia" 
                [placeholder]="'Ej: Madrid'">
                </magister-input>
                <div class="error-message"
                *ngIf="formInfo?.isSubmitted
                && form?.controls?.dirProvincia.errors?.required">
                    El campo provincia es obligatorio
                </div>
            </div>
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Código Postal</div>
                
                <magister-input formControlName="dirCodigoPostal" 
                [placeholder]="'Ej: 28040'">
                </magister-input>
                <div class="error-message"
                *ngIf="formInfo?.isSubmitted
                && form?.controls?.dirCodigoPostal.errors?.required">
                    El campo código postal es obligatorio
                </div>
            </div>
        </div>
        <div class="matr5-checkboxes">
            <div>
                <magister-checkbox [id]="'informacionLegal'"></magister-checkbox>
                <label for="informacionLegal">
                    Acepto la <a href="javascript:void(0);">información legal</a>
                </label>
            </div>
            
            <div>
                <magister-checkbox [id]="'proteccionDatos'"></magister-checkbox>
                <label for="proteccionDatos">
                    Acepto la <a href="javascript:void(0);">la protección de datos</a>
                </label>
            </div>
        </div>
        <button color="Primary" class="matr-pag-button" [routerLink]="['/matricula/form/6']">Siguiente</button>
        <a class="matr-pag-link-back" [routerLink]="['/matricula/form/4']">Volver atrás</a>
    </div>
</section>