.matr-container {
    background-color: var(--dark-blue);
    height: 100%;
    width: 100%;
    color: #fff;
}

.matr-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.matr-container > .mat-icon-button {
    position: absolute;
    right: 0;
    height: 5rem;
    width: 5rem;
    margin: 0.2rem 0.5rem 0 0;
}
.matr-container .mat-icon {
    width: auto;
    font-size: 3rem;
}

.matr-title {
    font-size: 2rem;
    font-weight: 600;
}

.matr-text {
    width: 12rem;
    text-align: center;
    font-weight: 200;
    margin-bottom: 2.5rem;

}
