:host {
    height: 100%;
}

.matr1-grid1 {
    display: flex;
    gap: 7rem;
    margin-bottom: 2.2rem;
}

.matr1-subgrid {
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 1.2rem;
}

.matr-pag-label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.matr-pag-label-title {
    font-weight: 600;
}
.matr-pag-label-text {
    font-weight: 200;
}

.matr1-button {
    margin-bottom: 3.4rem;
    margin-top: auto;
    align-self: center;
}



.matr1-grid2 {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
}

.matr1-grid2 magister-option-list {
    margin-top: 1.1rem;
}



.matr1-grid3 {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
}

.matr1-grid3 magister-option-list{
    margin-top: 1.1rem;
}