<section class="matr-pag-container">
    <div class="matr-pag-title">¿En qué te quieres especializar?</div>
    <div class="matr1-content">
        <div class="matr1-grid1">
            <div class="matr1-subgrid">
                <div class="matr1-label">
                    <div class="matr1-labeltitle">Rama</div>
                    <div class="matr1-labeltext">(Selecciona una opción)</div>
                </div>
                <magister-select [name]="'rama'" [placeholder]="'Ej: Maestros - Audición y lenguaje'"
                [optGroups]="ramas$ | async" [(model)]="formInfo.matricula.rama">
                </magister-select>
            </div>
            <div class="matr1-subgrid">
                <div for="rama" class="matr1-label">
                    <div class="matr1-labeltitle">Provincia</div>
                    <div class="matr1-labeltext">(Selecciona una opción)</div>
                </div>
                <magister-select [name]="'provincia'" [placeholder]="'Ej: Madrid'"
                [options]="provincias$ | async" [(model)]="formInfo.matricula.provincia">
                </magister-select>
            </div>
        </div>
        <div class="matr1-grid2">
            <div class="matr1-labeltitle">¿Has sido alumn@ de Magister?</div>
            <!-- <div class="matr1-labeltext">(Selecciona una opción)</div> -->
            <a href="javascript:void(0);" class="matr-link-arrow">
                Consulta Condiciones
                <mat-icon>arrow_forward</mat-icon>
            </a>
            <magister-option-list [(model)]="formInfo.matricula.haSidoAlumno" 
            [options]="haSidoAlumnoOptions">
            </magister-option-list>
        </div>
        <div class="matr1-grid3">
            <div class="matr1-labeltitle">Entrega de material</div>
            <!-- <div class="matr1-labeltext">(Selecciona una opción)</div> -->
            <a href="javascript:void(0);" class="matr-link-arrow">
                Consulta Condiciones
                <mat-icon>arrow_forward</mat-icon>
            </a>
            <magister-option-list [(model)]="formInfo.matricula.entregaMaterial" 
            [options]="entregaMaterialOptions">
            </magister-option-list>
        </div>
        
    </div>
    
    

    <button color="Primary" class="matr1-button" [routerLink]="['/matricula/form/2']">Siguiente</button>
</section>