<div class="select-container">
    <div class="select-selected" (click)="toggleList()">
        <input [value]="valueLabel" [readonly]="true"
        [placeholder]="placeholder" [ngStyle]="{'opacity': value ?'1':'0.5'}"/>
        <div class="select-expand">
            <mat-icon>expand_more</mat-icon>
        </div>
    </div>
    <div class="select-option-list" [ngClass]="{'select-list-hidden': !toggle}">
        <ng-container *ngFor="let optGroup of optGroups">
            <div class="select-option-group">
                <div class="select-option-grouplabel">
                    {{ optGroup.label }}
                </div>
                <div *ngFor="let option of optGroup.options" class="select-option-label" 
                [ngClass]="{'select-selected-list': option.value == value }" (click)="selectOption(option)">
                    {{ option.labelList }}
                </div>
            </div>
        </ng-container>
        <div *ngFor="let option of options" class="select-option-label" 
        [ngClass]="{'select-selected-list': option.value == value }" (click)="selectOption(option)">
                {{ option.label }}
        </div>
    </div>
    
</div>

