<section class="matr-pag-container" [formGroup]="form">
    <div class="matr-pag-title">Elige el horario y modalidad que más te acomode</div>
    <div class="matr-pag-content">
        <div class="matr2-option-grid">
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Modalidad</div>
                <div class="matr-pag-label-text">(Selecciona una opción)</div>
            </div>
            
            <magister-option-list name="modalidad" formControlName="modalidad" 
            [options]="modalidades$ | async" [optionSize]="'20rem'" [columnGap]="'3rem'">
            </magister-option-list>
            <div class="error-message"
                *ngIf="formInfo?.isSubmitted 
                && form?.controls?.modalidad.errors?.required">
                    Debes seleccionar una opción
            </div>
        </div>
        <div class="matr2-option-grid">
            <div class="matr-pag-label">
                <div class="matr-pag-label-title">Horario</div>
                <div class="matr-pag-label-text">(Selecciona una opción)</div>
            </div>
            
            <magister-option-list name="horario" formControlName="horario"
            [options]="horarios$ | async" [direction]="'column'">
            </magister-option-list>
            <div class="error-message"
                *ngIf="formInfo?.isSubmitted 
                && form?.controls?.horario.errors?.required">
                    Debes seleccionar una opción
            </div>
        </div>
        
        <button color="Primary" class="matr-pag-button" [routerLink]="['/matricula/form/3']">Siguiente</button>
        <a class="matr-pag-link-back" [routerLink]="['/matricula/form/1']">Volver atrás</a>
    </div>
    
</section>
