<div class="matr-sent-container">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="matr-sent-content">
        
        <magister-logo></magister-logo>
        
        <div class="matr-sent-title1">
            ¡Gracias!
        </div>
        <div class="matr-sent-title2">
            Tu reserva está en proceso
        </div>
        
        <div class="matr-sent-text1">
            La matrícula sólo será efectiva una vez se haya recibido el 
        </div>
        <div class="matr-sent-text2">
            Pago por tarjeta o transferencia
        </div>
        
        <button class="matr-sent-button" color="Primary" [routerLink]="['/']">Volver a Home</button>
        <a [routerLink]="['/matricula/form/6']">Volver atrás</a>
    </div>
</div>