<div class="matr-container">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="matr-pag-content">
        
        <magister-logo></magister-logo>
        
        <div class="matr-title">
            ¡Comencemos con tu matrícula!
        </div>
        
        <div class="matr-text">
            Para comenzar a especializarte, 
            vamos a realizar unas preguntas para darte el mejor servicio
        </div>
        
        <button color="Primary" [routerLink]="['/matricula/form/1']">Comenzar</button>
        <a [routerLink]="['/']">Volver atrás</a>
    </div>
</div>