.matr-form-container {
    background-color: var(--light);
    width: 100%;
    height: 100%;
    color: var(--text-secondary);
    display: flex;
    position: relative;
}

.matr-form-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    color: #fff;
    width: 38rem;
    padding-top: 2.5rem;
}
.matr-form-sidenav magister-steps {
    margin-top: 2.8rem;
    margin-bottom: 0.8rem;
}
.matr-form-sidenav .matr-form-img {
    width: 20rem;
    height: 13.5rem;
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    transition: all 0.5s;
    margin-top: auto;
}
.matr-form-sidenav img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transition: all 0.5s;
    
}

.matr-form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.matr-form-content > .mat-icon-button {
    height: 5rem;
    width: 5rem;
    margin: 0.2rem 0.5rem 0 0;
    align-self: flex-end;
}
.matr-form-content .mat-icon {
    width: auto;
    font-size: 3rem;
} 

.hidden {
    opacity: 0;
}

.matr-error {
    align-self: center;
    background: #ffc7c7;
    color: #a00000;
    padding: 0.4rem;
    border-radius: 5px;
    box-sizing: border-box;
}

form {
    height: 100%;
}

.loading-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff7b;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}
  
.spinner {
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: 9px solid #ffffff;
    border-top-color: var(--dark-blue);
    animation: spinner .8s linear infinite;
}


/* Estilos comunes de paginas */
.matr-pag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0px 2rem;
}
.matr-pag-title {
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
    padding: 0px 6rem;
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}
.matr-pag-content {
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
}
.matr-pag-link-arrow {
    display: flex;
    width: fit-content;
}

.matr-pag-label {
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
}
.matr-pag-label-title {
    font-weight: 600;
}
.matr-pag-label-text {
    font-weight: 200;
}


.matr-pag-button, .matr-pag-link-back {
    align-self: center;
}
.matr-pag-button {
    margin-top: auto;
    margin-bottom: 1.2rem;
}
.matr-pag-content:last-child {
    margin-bottom: 2rem;
}

 
.error-message {
    color: var(--danger);
    margin-top: 0.5rem;
    font-size: 1rem;
}