<div class="matr-form-container">
    <div class="matr-form-sidenav">
        <magister-logo></magister-logo>
        <magister-steps [steps]="steps"></magister-steps>
        <div class="matr-form-img">
            <ng-container *ngFor="let img of images;index as i">
                <img [src]="img.src" [ngClass]="{ 'hidden': i != currentIndex }">
            </ng-container>
            
        </div>
    </div>
    <div class="matr-form-content">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>

    </div>
</div>
