<div class="matr-form-container">
    <div class="matr-form-sidenav">
        <magister-logo></magister-logo>
        <magister-steps [steps]="steps"></magister-steps>
        <div class="matr-form-img">
            <ng-container *ngFor="let img of images;index as i">
                <img [src]="img.src" [ngClass]="{ 'hidden': i != currentIndex }">
            </ng-container>
            
        </div>
    </div>
    <div class="matr-form-content">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <div class="matr-error" *ngIf="formInfo.error && !formInfo.matriculaForm.valid">
            {{ formInfo.error }}
        </div>
        <form [formGroup]="formInfo.matriculaForm" 
        (ngSubmit)="submitMatricula(formInfo.matriculaForm);"
        [ngClass]="{'ng-submitted': formInfo.isSubmitted}">
            <router-outlet></router-outlet>

        </form>
    </div>
</div>

<div *ngIf="loading" class="loading-page">
    <div class="spinner"></div>
</div>