form.ng-submitted :host.ng-invalid .option-button {
    border: 1px solid #e24c4c;
}

.option-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.2rem;
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    min-width: 5rem;
    height: 2rem;
    padding: 0.3rem 1rem;
    transition: all 0.2s;
    border-radius: 8px;
    border: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    font-family: inherit;
    font-size: 0.95rem;
}

.option-button:hover {
    background: #e6e6e6;
    cursor: pointer;
}

input[type="radio"]:checked + .option-button {
    border: none;
    background: var(--secondary);
    color: var(--dark-blue);
}

input[type="radio"] {
    display: none;
}