.option-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.2rem;
}

.option-button {
    background: transparent;
    min-width: 7rem;
    height: 2.65rem;
    padding: 0.35rem 1.1rem;
    transition: all 0.2s;
    border-radius: 8px;
    border: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    font-family: inherit;
    font-size: 0.92rem;
}

.option-button:enabled:hover {
    background: #e6e6e6;
    cursor: pointer;
}

.option-buttton-selected {
    border: none;
    background: var(--secondary);
    color: var(--dark-blue);
}
.option-button.option-buttton-selected:hover {
    border: none;
    background: var(--secondary);
    color: var(--dark-blue);
}