/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #0BC6FE;
    --primary-hover: #0d9ac5;
    
    --secondary: #A9D4EA;
    --text-secondary:#577294;
    
    --dark-blue: #0A3868;
    --light: #FFFEFC;
}

@font-face {
    font-family: Linotte;
    src: url("./assets/fonts/LinotteRegular.otf");
}
@font-face {
    font-family: Linotte;
    src: url("./assets/fonts/LinotteSemiBold.otf");
    font-weight: 600;
}
@font-face {
    font-family: Linotte;
    src: url("./assets/fonts/LinotteBold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Linotte;
    src: url("./assets/fonts/LinotteLight.otf");
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Linotte, sans-serif, Helvetica, Arial;
    letter-spacing: 0.4px;
}

button[color="primary"] {
    color: #ffffff;
    background: var(--primary);
    padding: 0.5rem 2.9rem;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.55);
}
  
button[color="primary"]:disabled {
    cursor: default;
    opacity: 0.5;
}

button[color="primary"]:enabled:hover {
    background: var(--primary-hover);
    color: #ffffff;
    cursor: pointer;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: all 0.2s;
}

a:visited:hover, a:hover {
    color: var(--primary-hover);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}